name = "shca-user-checker"
main = "worker.js"
compatibility_date = "2025-12-06"

[assets]
directory = "./public"
binding = "ASSETS"

[[secrets_store_secrets]]
binding = "SHEETS_API_KEY"
store_id = "SHEETS_API_KEY-SHCA_USER_CHECKER"
secret_name = "SHEETS_API_KEY-SHCA_USER_CHECKER"
